@charset "UTF-8";

table {
	text-align: center;
	margin: 30px auto;
	width: 30%;
}

table, tr, th, td {
	border: 1px solid black;
	text-align: center;
	border-collapse: collapse;
	padding: 10px;
}

th {
	background-color: #fffad3;
}

form {
	width: 80%;
	margin: 15px auto;
}

fieldset {

	margin: 10px auto;
	border: 1px solid #f89978;
	border-radius: 15px;
}

legend {
	text-align: center;
	padding: 10px 20px;
	background-color: #ffe1ae;
}

form div {
	width: 80%;
	margin: 5px auto;
}

form label {
	display: inline-block;
	width: 20%;
	text-align: right;
	margin: 4px 5px;
	padding: 8px;
	color : black;
	font-weight: bold;
}

form input {
	width: 70%;
	margin: 10px 5px;
	padding: 8px 12px;;
	outline: 0;
	border-color: #fffad3;
}

form input:focus {
	border-color: #fffad3;
}

form input:hover {
	background-color: #ffe1ae;
}